@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #526a74;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.container{
    width: 1000px;
    height: 600px;
    background-image: url(/images/bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    position: relative;
    top:-80px;
    line-height: 35px;
    
}

.title__subtext{
    padding: 0;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
}

.title__subtext::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    top:18px;
    left:160px;
    background-color: #fff;
    font-weight: 100;
}
.title__subtext::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    top:18px;
    left:355px;
    background-color: #fff;
    font-weight: 100;
}

.title__text{
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    text-align: center;
    margin-top: 55px;
}

.box{
    width: 150px;
    height: 130px;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    font-weight: 100;
}

.box span{
    padding-bottom: 0;
    font-size: 5em;
}

p{
    margin: 0;
}

